# DATA FILES – DO NOT TRACK

# PATH project data
PATH/path_path.csv

# UDS project data
UDS/uds_a1subdemo.csv
UDS/uds_a2infdemo.csv
UDS/uds_14ard.csv
UDS/uds_a5subhst.csv
UDS/uds_b4cdr.csv
UDS/uds_c1npsyb.csv
UDS/uds_d1clindx.csv
UDS/uds_lhqrev.csv
UDS/uds_naccenroll.csv
UDS/uds_registry.csv
UDS/uds_roster.csv

.DS_Store
.Rhistory

Archive/
__pycache__/
